*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'popins';
    width: 100%;
    /* border: 2px solid blue; */

}

h1,h2{
    /* color: #97BC62; */
    color: #2C5F2D;
}
body{
background-color: #97BC62;    


}
nav{
    /* border: 2px solid red; */
    background-color: #2C5F2D;
    padding: 10px;
    border-radius: 10px;
}
.res{
    width: 12%;
}
#head{
    margin-left: 55%;
}
.the{
    margin-left: 20px;
    font-size: 15px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.the:hover{
    color: #97BC62;
}
h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    margin-top: 10px;
}

.image{
    display: flex;
    align-items: center;
    justify-content: space-between; 
}


.rea{
    width: 30%;
    margin-left: 20px;
    border: 2px solid rgb(0, 0, 0);
    margin-top: 20px;
    border-radius: 20px;
    margin-bottom: 30px;
}
.gytr{
    display: flex;
    align-items: center;
    justify-content: space-between; 
    /* width: 100%; */
    margin-top: 50px;
}
h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    margin-top: 40px;
    font-weight: bolder;
    font-size: 30px;
    /* margin-top: ; */
}
.fre{
    width: 50%;
    /* height: 95vh; */
    border: 2px solid black;
    border-radius: 20px;
    margin-left: 20px;
    margin-top: 20px;
}
.abote{
    width: 50%;
    /* height: 40vh; */
    margin-left: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}


.re{
    width: 40%;
    margin-left: 30%;
    border: 2px solid rgb(0, 0, 0);
    margin-top: 5%;
    border-radius: 20px;
    margin-bottom: 30px;
}
h3{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    margin-top: 8%;
    font-weight: bolder;
    font-size: 30px;
    color: #2C5F2D;
}

.open{
    
    /* height: 80vh; */
height: 50vh;
    /* background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)),url("./desktop-wallpaper-hejab-girl-cartoon-hijab.jpg"); */
/* position: relative;
background-repeat: no-repeat;
background-size: cover; */

background-color: #2C5F2D;
width: 100%;


}

.rer{
width: 80%;
font-size: 20px;
font-family: Verdana, Geneva, Tahoma, sans-serif;
margin-top: 70px;
margin-left: 90px;
text-align: center;
}
h4{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    margin-top: 8%;
    font-weight: bolder;
    font-size: 30px;
    color: #97BC62;
}